<!DOCTYPE html>

<html xml:th="http://thymeleaf.org">
<head>
    <title>Calendario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{/js/funciones.js}"></script>
</head>
<body>
    <div id="fondo">
        <h1>Calendario</h1>
        <ul>
            <li><a href="#">Informacion Personal</a></li>
            <li><a href="#">Modificar Datos Administrativos</a></li>
        </ul>
        <br>
        <select name="meses" id="meses">
            <option value="enero">Enero</option>
            <option value="febrero">Febrero</option>
            <option value="marzo">Marzo</option>
            <option value="abril">Abril</option>
            <option value="mayo">Mayo</option>
            <option value="junio">Junio</option>
            <option value="julio">Julio</option>
            <option value="agosto">Agosto</option>
            <option value="setiembre">Setiembre</option>
            <option value="octubre">Octubre</option>
            <option value="noviembre">Noviembre</option>
            <option value="diciembre">Diciembre</option>
        </select>
        </br>
        <table class="separado" border="1px">
            <tr th:each="temp:${lista}">
                <td th:text="${temp.valor}"></td>
                <td th:text="${temp.valor}"></td>
                <td><button th:onclick="javascript:matricular('[[${temp.valor}]]','[[${valor}]]')" class="btnMatricular"></button></td>
                <td><button th:onclick="javascript:irDetalles('[[${temp.valor}]]')" class="btnDetalles"></button></td>

            </tr>
        </table>
        <form action="/giras">
            <input type="submit" value="Lista de Giras" />
            <div id="contenedor"></div>
        </form>
        <form action="/funcionarios">
            <input type="submit" value="Lista de Funcionarios" />
            <div id="contenedor"></div>
        </form>
        <form action="/vehiculos">
            <input type="submit" value="Lista de Vehiculos" />
            <div id="contenedor"></div>
        </form>
        <form action="/reportes">
            <input type="submit" value="Reportes" />
            <div id="contenedor"></div>
        </form>
        <input type="text" th:value="${cedula}" name="cedula" style="visibility:hidden" />
        <input type="text" th:value="${idAlumno}" name="idAlumno" style="visibility:hidden" /></br>
        </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

    </div>
</body>
</html>