    .container {
    background-image: url(../Images/Fondo.webp);
    background-color: red;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
   }

