<!DOCTYPE html>

<html xml:th="http://thymeleaf.org">
<head>
    <title>Visualizar Gira</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{/js/funciones.js}"></script>
</head>
<body>
    <div id="fondo">
        <h1>Solicitud de Gira</h1>
        <table class="separado" border="1px">
            <tr>
                <th>Destino</th>
                <th>Fecha</th>
                <th>Vehiculo</th>
                <th>Estado</th>
                <label>Name</label></br>
                <input type="submit" value=" " !" />
                <input type="text" name="cargo" readonly />
            </tr>
            <tr th:each="temp:${lista}">
                <td th:text="${temp.destino}"></td>
                <td th:text="${temp.fecha}"></td>
                <td th:text="${temp.vehiculo}"></td>
                <td th:text="${temp.estado}"></td>
            </tr>
        </table>
        </br>
        Resultado: <input type="text" name="cargo" readonly /></br>
        Observaciones: <input type="text" name="cargo" readonly /></br>
        <form action="/home">
            <input type="submit" value="Regresar!" />
            <div id="contenedor"></div>
        </form>
        </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

    </div>
</body>
</html>